.listadocumentos {
  display: flex;
  flex-direction: column;

    align-self: center;
    justify-self: center;

    width: 60vw;
    height: 65vh;
    
    background-color: rgba($color-grey, 0.86);
    margin-top: 3rem;

    box-shadow: 0px 7px 10px rgba(black, 0.3);
    border-radius: 10px;

    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1.4rem;

    @media only screen and (max-width: $bp-largest) {
      width: 80vw;
    }

    &__error {
      display: flex;
      flex-direction: row;
      font-size: 4rem;
      justify-self: center;
    }


    &__spinner{
      
        width: 19rem;
        height: 19rem;
        border: .6rem solid $color-primary-dark; /* Light grey */
        border-top: .6rem solid $color-grey; /* Black */
        border-radius: 50%;
        animation: spinner 5s linear infinite;
      
    }

}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}